<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=DESKTOP-N4FMLK9; database=LearnGermans; uid=sa; pwd=maddy; Max Pool Size=10000; Integrated Security=True; Connection Timeout=30000" />
    <!--<add key="ApplicationPath" value="http://localhost:51902/Ashadeep" />-->
    <add key="Delay" value="123456000" />
  </appSettings>
  <system.web>
      <compilation debug="true" targetFramework="4.0"/>
      <httpRuntime targetFramework="4.5.2" />
   
  </system.web>
</configuration>